<main>
<p id="notice"></p>
<div class="container">
<div class="row">

<%= render "list", book: @book, book_user: @book_user %>

<div class="col-md-8 offset-md-1">
<h2>Book detail</h2>
<table class="table">
  <tbody>
    <tr>
      <td>
        <%= link_to user_path(@books.user.id) do %>
          <%= image_tag @books.user.get_profile_image(40, 40) %>
        <% end %><br>
        <%= link_to @books.user.name, user_path(@books.user.id) %>
      </td>
      <td><%= link_to @books.title, book_path(@books.id) %></td>
      <td><%= @books.body %></td>
      <% if @books.user == current_user %>
        <td><%= link_to "Edit", edit_book_path(@books.id), class: "btn btn-sm btn-success" %></td>
        <td><%= link_to "Destroy", book_path(@books.id), method: :delete, "data-confirm" => "本当に消しますか?", class: "btn btn-sm btn-danger" %></td>
      <% end %>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
</main>